<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.savefon.budgets"
	android:versionName="1.2" android:versionCode="2">
    <uses-sdk android:minSdkVersion="1" android:targetSdkVersion="4"></uses-sdk>
    <supports-screens android:anyDensity="true"></supports-screens>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_budgets">

        <provider android:name="BudgetsProvider"
            android:authorities="com.savefon.provider.Budgets"/>

        <activity android:name="AccountsList" android:label="@string/title_accounts_list_empty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.savefon.budgets.accounts" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.savefon.budgets.accounts" />
            </intent-filter>
        </activity>

        <activity android:name="AccountEditor" android:label="@string/title_account_editor">
            <intent-filter android:label="@string/resolve_edit">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.savefon.budgets.accounts" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.savefon.budgets.accounts" />
            </intent-filter>
        </activity>

        <activity android:name="TransactionsList" android:label="@string/title_transactions_list_empty">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.savefon.budgets.transactions" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.savefon.budgets.transactions" />
            </intent-filter>
        </activity>

        <activity android:name="TransactionEditor" android:label="@string/title_transaction_editor">
            <intent-filter android:label="@string/resolve_edit">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.savefon.budgets.transactions" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.com.savefon.budgets.transactions" />
            </intent-filter>
        </activity>
	</application>
</manifest>

